extends layout

mixin issue($iss)
    .issue(data-status=$iss['status'] data-game=$iss['game'] data-type=$iss['type'])
        .issue__status(data-status=$iss['status'])
        .issue__content
            a(href="/{$iss['id']}/") #{$iss['title']}
            p
                | ##{$iss['id']}
                |  - #{$iss['game_expanded']}
                |  - #{$iss['type']}

block content
    p An open-source community-driven bug tracker for Battlefield games
    include template_search.html

    .issues
        each $iss in $issues
            +issue($iss)
