extends layout

mixin issue($iss)
    .issue
        .issue__status(data-status=$iss['status'])
        .issue__content
            h4 #{$iss['title']}
            p ##{$iss['id']} - #{$iss['title']}

block content
    p Battlefield issues:
    .issues
        each $iss in $issues
            +issue($iss)
