/* General */
* {
    box-sizing: border-box;
}
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: hsl(209, 21%, 12%);
    color: #fff;
}

/* Layout */
.container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    background-color: hsl(209, 21%, 20%);
}
header {
    background-color: hsl(27, 100%, 48%);
    padding: 8px 16px;
}
main {
    padding: 8px 16px 24px;
}
footer {
    padding: 8px 16px;
    border-top: 4px solid hsl(209, 21%, 12%);
}
form {
    display: flex;

}
form#search {
    margin-top: 48px;
}
.input {
    flex: 1;
}
label {
    margin-right: 8px;
}
.issues {
    border-top: 2px solid hsl(209, 21%, 28%);
}
.issue {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    border-left: 2px solid hsl(209, 21%, 28%);
    border-bottom: 2px solid hsl(209, 21%, 28%);
    border-right: 2px solid hsl(209, 21%, 28%);
}
.issue:hover {
    background-color: hsl(209, 21%, 28%);
}
.issue p {
    margin: 0;
}
.issue__content {
    flex: 1;
}
.issue__status {
    width: 16px;
    height: 16px;
    margin: 0 12px 0 0;
    border: 2px solid hsl(209, 21%, 28%);
    border-radius: 100%;
}
.issue__status[data-status="open"] {
    background-color: green;
}
.issue__status[data-status="closed"] {
    background-color: red;
}
footer {
    text-align: center;
}

/* Typography */
h4 {
    margin: 0 0 4px;
}
a {
    color: hsl(27, 100%, 48%);
}